/* flex formats */
a, h2, h3, container, section { /* needed because this defaults to inline or block */
    display: flex;
}

a.highlight {
    margin: auto;
}

container {
    flex-flow: row wrap;
}

section.tile {
    flex-flow: column wrap;
    margin: 20px auto;
    max-width: 100%;
}
section.header {
    flex-direction: column;
}

h3 {
    margin: 0px;
}

/* colors and fonts */
body {
    background-color: #e2e2e2;
    font-family: "Open Sans",arial,sans-serif;
}

iframe.youtube, a.highlight, section.header {
    border: 0.5em solid rgba(255, 255, 255, 0);
}

iframe.youtube:hover, a.highlight:hover {
    border: 0.5em solid #9393f1;
}

section.tile {
    background-color: white;
}

img.photo {
    width: auto;
    height: 225px;
}

/* over-written in @media style sheets */

img.pano {
    width: auto;
    max-width: 100%;
    height: 180px;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.9em;
}